:root{
    --primary-color:#ff7833;
    --secondary-color:#313338;
    --secondary-color-ligth:#444856;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7rem;
    background-image:url("assets/unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
h1{
    font-size: 4rem;
    color: #7b7b7b;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
h2, h3, h4, h5, h6{
    color: var(--primary-color);
    margin: 0;
}
h2{
    margin-top: 1rem;
}
article{
    padding-bottom: 1em 0;
}
section{
    margin-bottom: 3rem;
}
.heightligth{
    border-left: 1px solid var(--primary-color);
    font-size: 1.1rem;
    padding: 0 0 0 2em;
    margin-bottom: 2.2em;
}

.main_header{
    flex: 0 0 26rem;
    background-color: rgba(49, 51, 59, .8);

}

.main{
    background-color: var(--secondary-color-ligth);
    background-color: rgba(68,72, 86, .6);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}
a{
    color: inherit;
}
.main, .main_header{
    font-size: 1.6rem;
}

.img-perfil{
    max-width: 20rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main-nav{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
    position: static;
    top: 0;
    left: 0;
}
.main-nav ul{
    padding: 0;
    list-style-type: none;
}

.main-nav ul a{
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    transition: padding-right .2rem, background-color 4s;
    background-color: transparent;
}

.main-nav ul a:hover,
.main-nav ul a:focus{
    background-color: var(--secondary-color-ligth);
    padding-right: 1rem;
    
}

.main-nav li{
    border-bottom: 1px solid #7b7b7b;
    padding: 2rem 0;
}
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }
  .card{
    max-width: 370px;
    background-color: var(--secondary-color);
    padding: 0;
  }
  .card-content{
    padding: 0.5em 1em 1em;
  }
  .card-content p, .card-title{
    margin: 0;
  }
 .card-title{
    font-size: 1.75em;
    margin-bottom: .5em;
  }
  .card img{
    max-width: 100%;
  }
  .row{
    display: flex;
    gap: 1.5em;
    padding-top: 1.5rem;
   justify-content: space-between;
  }

  .row >*{
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%; */
    flex: 1 0 0%;
  }
  .alternada{
    list-style-type: none;
    padding-left: 0px
  }

  .alternada li:not(:last-child){
    border-bottom:2px solid;
    padding: 0;
  }
  /* .alternada li:last-child{
    border-bottom: none;
  } */
  .list-emoji{
    list-style-type: "\1f642";
  }

  .table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
  }

  .table td:last-child, .table th:last-child{
    text-align: right;
  }
  .table td, .table th{
    padding: 1.6rem;
  }
  .table:not(.table-alternate) td{
    border-bottom: 2px solid var(--secondary-color);
  }
  .table th{
    text-transform: uppercase;
    text-align: left;
  }
  .table-alternate tbody tr:nth-child(odd){
    background-color: #313338;
  }
  .table-verticalLines td:not(:last-child),
  .table-verticalLines th:not(:last-child){
    border-right: 1px solid var(--secondary-color);
  }
  svg{
    transition: color .3s;
  }
    svg:hover{
        color: var(--primary-color);
    }
  .icon p a{
    text-decoration: none;
}
 
  .icon{
    display: flex;
    vertical-align: middle;
    padding: 2rem;
    margin-right: 1rem;
    gap: 2rem;
    }